{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        
        <link rel="stylesheet" type="text/css" href="{% static 'history/styles/css/style.css' %}">
    </head>
    <header>
        <a href="history/base.html">Hurricane</a>
        <a href="about-us.html">About Us</a>
        <a href="future-hurricanes.html">Future Hurricanes</a>
    </header>
    <body>

        <form>
            <input type ="text" name="City" placeholder="Enter the name of your city">
        </form>
        
        <div class="content">
            {% block content %}
            {% endblock %}

        </div>

    </body>
</html>