{% extends 'history/base.html' %}
{% block title %} Historical {% endblock %}
{% block content %}
{% load static %}

<div clas="row">

<div class="historical">
    <div id="floating-panel">
        <input id="address" type="textbox" placeholder="Search your City">
        <input id="submit" type="image" src="{% static 'history/images/search-128.png' %}">
    </div>
    <div id="map"></div>
    <script src="{% static 'history/scripts/history.js' %}"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs45NMgk3kOMM47toBBXMsZoNSsJDwers&callback=initMap"></script>
</div>
{% if isNull %}
<p style="text-align:center">
    Sorry, we couldn't find anything...
</p>
{% else %}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% for item in table_head %}
                <th> {{ item }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
            <tr>
                {% for item in row %}
                    <td> {{ item }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

{% endblock %}
