{% extends 'history/base.html' %}
{% block title %} Google Map Demo {% endblock %}
{% block content %}
{% load static %}

<table class="table table-striped table-hover">
    <thead>
        <tr>
            {% for item in table_head %}
                <th> {{ item }} </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table %}
            <tr>
                {% for item in row %}
                    <td> {{ item }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
